{% extends 'base.html' %}

{% block title %}
    Profil
{% endblock %}

{% block content %}
    <header>
        {% include 'menu.html' %}
    </header>
    <section class="help">
        <h2>Użytkownik: {{ user.first_name }} {{ user.last_name }}</h2>
        <h2>Email: {{ user.email }} </h2>


        <h2>Podsumowanie Twoich darowizn:</h2>

        <div>

            <div>
                {% for donation in user_donation_data %}
                    {% if not donation.is_taken %}
                        <h1>{{ forloop.counter }}. Dary do przekazania:</h1>
                        <ul>
                            <li>
                                <h1> Liczba worków: {{ donation.quantity }} </h1>
                            </li>
                            <li>
                                <h1> Dla: {{ donation.institution }} </h1>
                            </li>
                            <li>
                                <h1> Zawierające:
                                    {% for category in donation.categories.all %}
                                        {{ category.name }}{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </h1>
                            </li>
                            <li>
                                <h1> Planowana data przekazania: {{ donation.pick_up_date }}
                                    godzina {{ donation.pick_up_time }} </h1>
                            </li>
                            <button type="button" class="btn btn--small description "><a href="
                                            {% url 'donations:confirm-taken-donation' pk=donation.id %}">Potwierdź
                                przekazanie darów</a>
                            </button>
                        </ul>
                    {% else %}
                        <div style="color: darkgreen">
                        <h1>{{ forloop.counter }}. Przekazane dary:</h1>
                        <ul>
                            <li>
                                <h1> Liczba worków: {{ donation.quantity }} </h1>
                            </li>
                            <li>
                                <h1> Dla: {{ donation.institution }} </h1>
                            </li>

                            <li>
                                <h1> Zawierające:
                                    {% for category in donation.categories.all %}
                                        {{ category.name }}{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </h1>
                            </li>
                            <li>
                                <h1> Data przekazania: {{ donation.pick_up_date }}
                                    godzina {{ donation.pick_up_time }} </h1>
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}
                </div>

    </section>


{% endblock %}