{% extends 'base.html' %}

{% block title %}
    login
{% endblock %}

{% block content %}
    <header>
        {% include 'menu.html' %}
    </header>
    <section class="login-page">
        <h2>Zresetuj Hasło</h2>


        {% if mass %}
            <h3>{{ form.non_field_errors }}</h3>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="email" name="email" placeholder="Email"/>
                {% if form.errors %}
                    <h3>{{ form.email.errors }}</h3>
                {% endif %}
            </div>
                {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}
            <div class="form-group form-group--buttons">
                <button class="btn" type="submit">Zresetuj hasło</button>
            </div>
        </form>

    </section>


{% endblock %}